# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Model files (large binary) — kecuali di models/
*.h5
*.joblib
*.pth

# Misc
error.log
